body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.dot {
    width: 20px;
    height: 20px;
    fill: #3498db;
    cursor: pointer;
}

.line {
    stroke: #3498db;
    stroke-width: 2;
    fill: none;
}
#check-button,#delete-connct{
    z-index: 500;
}

